body
{
	font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: black;
}

p 
{
	font-size: 16px;
}

ul 
{
	font-size: 16px;
}

li 
{
	font-size: 16px;
}

code 
{
	font-size: 16px;
}

.margin 
{
	margin-bottom: 15px;
}

.container-fluid
{
	padding: 30px;
	padding-bottom: 70px;
}

.column
{
  float: left;
  width: 33.33%;
  padding: 5px;
}

.column2 
{
  float: left;
  width: 28%;
  padding: 5px;
}

.column3 
{
  float: left;
  width: 36%;
  padding: 5px;
}

.row::after 
{
  content: "";
  clear: both;
  display: table;
}