body
{
	font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: black;
}

p 
{
	font-size: 16px;
}

ul 
{
	font-size: 16px;
}

li 
{
	font-size: 16px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 16px;
}
th, td {
  padding: 5px;
  font-size: 16px;
}
th {
  text-align: left;
  font-size: 16px;
}

code 
{
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: 1px solid #BCBEC0;
    padding: 2px;
    font:14px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace
}


pre 
{
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    border: 1px solid #BCBEC0;
    background: #F1F3F5;
    font:14px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace
}

pre code 
{
    border-radius: 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border: 0px;
    padding: 2px;
    font:14px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace
}

.margin 
{
	margin-bottom: 15px;
}

.container-fluid
{
	padding: 30px;
	padding-bottom: 70px;
}

.column
{
  float: left;
  width: 33.33%;
  padding: 5px;
}

.column2 
{
  float: left;
  width: 28%;
  padding: 5px;
}

.column3 
{
  float: left;
  width: 36%;
  padding: 5px;
}

.column-half
{
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after 
{
  content: "";
  clear: both;
  display: table;
}